{
  "openapi": "3.0.1",
  "info": {
    "title": "ZHIPU AI API",
    "description": "ZHIPU AI 接口提供强大的 AI 能力，包括聊天对话、工具调用和视频生成。",
    "license": {
      "name": "ZHIPU AI 开发者协议和政策",
      "url": "https://chat.z.ai/legal-agreement/terms-of-service"
    },
    "version": "1.0.0",
    "contact": {
      "name": "Z.AI 开发者",
      "url": "https://chat.z.ai/legal-agreement/privacy-policy",
      "email": "user_feedback@z.ai"
    }
  },
  "tags": [
    {
      "name": "对话 API",
      "description": "Chat API"
    },
    {
      "name": "嵌入 API",
      "description": "Embedding API"
    },
    {
      "name": "音频 API",
      "description": "Audio API"
    },
    {
      "name": "视频 API",
      "description": "Video API"
    },
    {
      "name": "图像 API",
      "description": "Image API"
    },
    {
      "name": "网络搜索 API",
      "description": "Web Search API"
    },
    {
      "name": "工具 API",
      "description": "Tool API"
    },
    {
      "name": "Agent API",
      "description": "Agent API"
    },
    {
      "name": "智能体 API",
      "description": "Assistant API"
    },
    {
      "name": "文件 API",
      "description": "File API"
    },
    {
      "name": "知识库 API",
      "description": "Knowledge API"
    },
    {
      "name": "清流智能体 API",
      "description": "QingLiu Agent API"
    },
    {
      "name": "实时 API",
      "description": "Realtime API"
    },
    {
      "name": "批处理 API",
      "description": "Batch API"
    }
  ],
  "servers": [
    {
      "url": "https://open.bigmodel.cn/api/",
      "description": "开放平台服务"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/paas/v4/chat/completions": {
      "post": {
        "tags": ["对话 API"],
        "summary": "聊天补全",
        "description": "为聊天对话生成 AI 回复。支持多种应用场景对话，多模态能力。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/embeddings": {
      "post": {
        "tags": ["嵌入 API"],
        "summary": "文本嵌入",
        "description": "使用 GLM 嵌入模型将文本转换为高维向量表示，用于语义相似性和搜索。支持多语种和多种模型，兼容 OpenAI Embedding API。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/images/generations": {
      "post": {
        "tags": ["图像 API"],
        "summary": "图像生成",
        "description": "使用 CogView-4 系列模型从文本提示生成高质量图像。CogView-4 适用于图像生成任务，通过对用户文字描述快速、精准的理解，让AI的图像表达更加精确和个性化。支持cogview-4-250304、cogview-4、cogview-3-flash等模型。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/speech": {
      "post": {
        "tags": ["音频 API"],
        "summary": "文本转语音",
        "description": "使用 CogTTS 将文本转换为自然语音，支持多种声音、情感控制和语调调整。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "audio/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/transcriptions": {
      "post": {
        "tags": ["音频 API"],
        "summary": "语音转文本",
        "description": "使用 GLM ASR 模型将音频文件转录为文本，支持多语言和实时流式转录。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionStreamResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/videos/generations": {
      "post": {
        "tags": ["视频 API"],
        "summary": "生成视频",
        "description": "通过文本或图像生成视频内容。支持多种视频生成方式，包括文本转视频、图像转视频等。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "CogVideoX-3",
                    "$ref": "#/components/schemas/CogVideoX3Request"
                  },
                  {
                    "title": "CogVideoX",
                    "$ref": "#/components/schemas/CogVideoXRequest"
                  },
                  {
                    "title": "Vidu: Text to Video",
                    "$ref": "#/components/schemas/ViduText2VideoRequest"
                  },
                  {
                    "title": "Vidu: Image to Video",
                    "$ref": "#/components/schemas/ViduImage2VideoRequest"
                  },
                  {
                    "title": "Vidu: First & Last Frame to Video",
                    "$ref": "#/components/schemas/ViduFrames2VideoRequest"
                  },
                  {
                    "title": "Vidu: Ref to Video",
                    "$ref": "#/components/schemas/ViduReference2VideoRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/async-result/{id}": {
      "get": {
        "tags": ["视频 API"],
        "summary": "查询视频异步结果",
        "description": "查询异步请求的处理结果和状态。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "任务 ID。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "description": "模型名称。"
                    },
                    "video_result": {
                      "type": "array",
                      "description": "视频生成结果。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "视频链接。"
                          },
                          "cover_image_url": {
                            "type": "string",
                            "description": "视频封面链接。"
                          }
                        }
                      }
                    },
                    "task_status": {
                      "type": "string",
                      "description": "处理状态，`PROCESSING (处理中)`、`SUCCESS (成功)`、`FAIL (失败)`。注意：处理状态需要通过查询获取。"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "客户端请求时用户提交的任务编号或平台生成的任务编号。"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/web_search": {
      "post": {
        "tags": ["网络搜索 API"],
        "summary": "网络搜索",
        "description": "Web Search API 是一个专给大模型用的搜索引擎，在传统搜索引擎网页抓取、排序的能力基础上，增强了意图识别能力，返回更适合大模型处理的结果（网页标题、网页URL、网页摘要、网站名称、网站图标等）。支持意图增强检索、结构化输出和多引擎支持。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。可能的错误码：1701-网络搜索并发已达上限，请稍后重试或减少并发请求；1702-系统未找到可用的搜索引擎服务，请检查配置或联系管理员；1703-搜索引擎未返回有效数据，请调整查询条件。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "post": {
        "tags": ["Agent API"],
        "summary": "智能体对话",
        "description": "与智能体进行对话交互。支持同步和流式调用，提供智能体的专业能力。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/async-result": {
      "post": {
        "tags": ["Agent API"],
        "summary": "查询异步结果",
        "description": "查询智能体异步任务的处理结果和状态。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["async_id", "agent_id"],
                "properties": {
                  "async_id": {
                    "type": "string",
                    "description": "任务ID",
                    "example": "VHJhbnNsYXRvckVudGl0eVRhc2s6OTI5OTY5"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "智能体ID，如 doc_translation_agent (专业文档翻译智能体)",
                    "example": "doc_translation_agent"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAsyncResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant": {
      "post": {
        "tags": ["智能体 API"],
        "summary": "助手对话",
        "deprecated": true,
        "description": "与AI助手进行对话，支持流式和同步模式。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "stream",
            "in": "query",
            "description": "是否启用流式响应",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "流式响应数据"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/list": {
      "post": {
        "tags": ["智能体 API"],
        "deprecated": true,
        "summary": "查询智能体列表",
        "description": "查询指定的智能体列表信息，包括智能体的详细配置、工具和元数据。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssistantInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/conversation/list": {
      "post": {
        "tags": ["智能体 API"],
        "deprecated": true,
        "summary": "查询智能体会话列表",
        "description": "查询指定智能体的会话列表，支持分页查询。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConversationListResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files": {
      "post": {
        "tags": ["文件 API"],
        "summary": "上传文件",
        "description": "上传用于 Batch 任务、文件内容抽取等功能的文件。注意： “Try it”功能仅支持小文件上传，实际支持的文件大小请参见下文 purpose 相关说明。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["文件 API"],
        "summary": "查询文件列表",
        "description": "获取已上传文件的分页列表，支持按用途和排序过滤。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "description": "按用途过滤文件",
            "schema": {
              "type": "string",
              "enum": ["batch", "file-extract", "code-interpreter"]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "排序方式",
            "schema": {
              "type": "string",
              "enum": ["created_at"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回的文件数量",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}": {
      "delete": {
        "tags": ["文件 API"],
        "summary": "删除文件",
        "description": "永久删除指定文件及其所有关联数据。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}/content": {
      "get": {
        "tags": ["文件 API"],
        "summary": "获取文件内容",
        "description": "获取文件内容。只支持batch与file-extract文件类型。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches": {
      "post": {
        "tags": ["批处理 API"],
        "summary": "创建批处理任务",
        "description": "创建一个新的批处理任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["批处理 API"],
        "summary": "列出批处理任务",
        "description": "获取批处理任务列表，支持分页。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标，用于获取指定ID之后的结果",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回结果的最大数量",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}": {
      "get": {
        "tags": ["批处理 API"],
        "summary": "获取批处理任务详情",
        "description": "根据批处理任务ID获取详细信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}/cancel": {
      "post": {
        "tags": ["批处理 API"],
        "summary": "取消批处理任务",
        "description": "取消正在运行的批处理任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "创建个人知识库",
        "description": "用于创建个人知识库，支持绑定向量化模型、设置名称、描述、背景色和图标。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCreateResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["知识库 API"],
        "summary": "获取个人知识库列表",
        "description": "获取个人知识库列表，支持分页。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，默认1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页数量，默认10",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge/{id}": {
      "put": {
        "tags": ["知识库 API"],
        "summary": "编辑个人知识库",
        "description": "用于编辑已经创建好的个人知识库，仅传入要修改的字段。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEditResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["知识库 API"],
        "summary": "获取个人知识库详情",
        "description": "根据知识库id获取个人知识库详情。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["知识库 API"],
        "summary": "删除个人知识库",
        "description": "根据知识库id删除个人知识库。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge/capacity": {
      "get": {
        "tags": ["知识库 API"],
        "summary": "获取知识库使用量详情",
        "description": "获取个人知识库的使用量详情，包括字数和字节数。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCapacityResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/upload_document/{id}": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "知识库上传文档",
        "description": "向指定知识库上传文档，支持多种切片方式和回调。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/document/slice/image_list/{id}": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "获取文件解析到的图片列表",
        "description": "用于获取文件下解析到的图片序号和图片链接映射关系。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识id",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/AcceptLanguage" }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KnowledgeImageListResponse" },
                "example": {
                  "data": {
                    "images": [
                      {
                        "text": "【示意图序号_1829473032620613632_103】",
                        "cos_url": "https://cdn.bigmodel.cn/knowledge_pdf_image/de7163a7-c67f-4e33-8810-97a6d5a83378.png"
                      }
                    ]
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1725070689634
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/paas/v4/rerank": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "文本重排序",
        "description": "Rerank 用于文本重排序，通过接收用户的查询文本及候选文本列表，使用模型计算候选文本与查询文本的相关性得分并返回分数。适用于智能问答、信息检索等场景。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/v2/application/{app_id}/variables": {
      "get": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "获取智能体输入参数",
        "description": "获取指定智能体应用的输入参数列表。",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "智能体（应用）id，获取位置：我的智能体列表页面",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariablesResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/v2/application/file_upload": {
      "post": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "文件上传",
        "description": "上传文件到智能体（应用），同步返回上传结果。需通过文件解析状态接口获取解析结果。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_id": { "type": "string", "description": "智能体（应用）id" },
                  "upload_unit_id": { "type": "string", "description": "上传文件组件id，文本类必须传，对话类临时文件不传" },
                  "files": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" },
                    "description": "文件数组"
                  },
                  "conversation_id": { "type": "string", "description": "对话类型应用上传临时文件时需先通过创建新会话获得会话ID（对话类型上传临时文件时必传，文本类不传）" },
                  "file_type": { "type": "integer", "description": "文件类型 1: excel 2: 文档 3: 音频 4: 图片 5: 视频" }
                },
                "required": ["app_id", "files"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFileUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/v2/application/file_stat": {
      "post": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "获取文件解析状态",
        "description": "获取指定文件的解析状态。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApplicationFileStatRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApplicationFileStatResponse" }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/v2/application/{app_id}/conversation": {
      "post": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "创建新会话",
        "description": "为指定智能体（应用）创建新会话，返回会话ID。",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "智能体（应用）id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/v3/application/invoke": {
      "post": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "推理接口",
        "description": "对话型或文本型应用推理接口，支持同步和流式（SSE）调用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApplicationInvokeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApplicationInvokeResponse" }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/v2/application/slice_info": {
      "post": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "知识库切片引用位置信息",
        "description": "获取知识库切片引用的位置信息。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApplicationSliceInfoRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApplicationSliceInfoResponse" }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/history_session_record/{app_id}/{conversation_id}": {
      "get": {
        "tags": [
          "清流智能体 API"
        ],
        "summary": "推荐问题接口",
        "description": "获取推荐问题列表。",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "应用id",
            "schema": { "type": "string" }
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "会话id",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistorySessionRecordResponse" }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/llm-application/open/document/{id}": {
      "get": {
        "tags": ["知识库 API"],
        "summary": "获取文档详情",
        "description": "根据id获取文档详情。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "文档id",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/AcceptLanguage" }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KnowledgeDocumentDetailResponse" },
                "example": {
                  "data": {
                    "id": "12121212121212",
                    "knowledge_type": 1,
                    "custom_separator": ["\n"],
                    "sentence_size": 300,
                    "length": 0,
                    "word_num": 100,
                    "name": "",
                    "url": "",
                    "embedding_stat": 0,
                    "failInfo": {
                      "embedding_code": 10002,
                      "embedding_msg": "字数超出限制"
                    }
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["知识库 API"],
        "summary": "删除知识",
        "description": "根据id删除知识。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识id",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/AcceptLanguage" }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteKnowledgeResponse" },
                "example": {
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document": {
      "get": {
        "tags": ["知识库 API"],
        "summary": "获取知识库的文档列表",
        "description": "获取指定知识库下的文档列表。",
        "parameters": [
          {
            "name": "knowledge_id",
            "in": "query",
            "required": true,
            "description": "知识库id",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "页码，默认1",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "每页数量，默认10",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "word",
            "in": "query",
            "required": false,
            "description": "文档名称",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/AcceptLanguage" }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KnowledgeDocumentListResponse" },
                "example": {
                  "data": {
                    "list": [
                      {
                        "id": "12312121212",
                        "knowledge_type": 1,
                        "custom_separator": ["\n"],
                        "sentence_size": 300,
                        "length": 0,
                        "word_num": 100,
                        "name": "",
                        "url": "",
                        "embedding_stat": 0,
                        "failInfo": {
                          "embedding_code": 10002,
                          "embedding_msg": "字数超出限制"
                        }
                      }
                    ],
                    "total": 1
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/upload_url": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "上传url构建知识",
        "description": "用于创建个人知识 web页面。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UploadUrlKnowledgeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadUrlKnowledgeResponse" },
                "example": {
                  "data": {
                    "successInfos": [
                      { "documentId": "122121212", "url": "xxx.com" },
                      { "documentId": "12121212121", "url": "xxx.com" }
                    ],
                    "failedInfos": [
                      { "url": "xxx.com", "failReason": "不支持的文档类型" }
                    ]
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/embedding/{id}": {
      "post": {
        "tags": ["知识库 API"],
        "summary": "重新向量化",
        "description": "用于重新向量化文档（重试等操作）。同步返回成功表示调用成功，向量化完成后调用callback_url进行通知，也可调用知识详情接口获取结果。多用于url知识场景。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识id",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/AcceptLanguage" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReEmbeddingRequest" }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReEmbeddingResponse" },
                "example": {
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AcceptLanguage": {
        "name": "Accept-Language",
        "in": "header",
        "schema": {
          "type": "string",
          "description": "HTTP 请求头，用于告知服务器浏览器的首选语言列表，以便服务器返回最符合用户偏好的语言内容。",
          "default": "cn",
          "enum": ["en", "cn"]
        },
        "required": true
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "required": ["model", "messages"],
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "要调用的模型代码。GLM-4系列提供了复杂推理、超长上下文、极快推理速度等多款模型。GLM-4V系列支持视觉理解：GLM-4V-Plus-0111具备卓越的多模态理解能力，可同时处理最多5张图像，并支持视频内容理解；GLM-4V-Flash（免费）专注于高效的单一图像理解。",
            "example": "glm-4-plus",
            "default": "glm-4-plus",
            "enum": [
              "glm-4-plus",
              "glm-4-air-250414",
              "glm-4-airx",
              "glm-4-long",
              "glm-4-flashx",
              "glm-4-flashx-250414",
              "glm-experimental-preview",
              "glm-z1-air",
              "glm-z1-airx",
              "glm-z1-flash",
              "glm-z1-flashx",
              "glm-4v-plus-0111",
              "glm-4v-flash",
              "glm-4.1v-thinking-flashx",
              "glm-4.1v-thinking-flash",
              "glm-4-voice"
            ]
          },
          "messages": {
            "type": "array",
            "description": "当前对话消息列表作为模型的提示输入，以 JSON 数组格式提供，例如：`{\"role\": \"user\", \"content\": \"Hello\"}`。可能的消息类型包括系统消息、用户消息、助手消息和工具消息。对于多模态模型（如 glm-4.1v-thinking-flash 和 glm-4v-plus-0111），content 可以是字符串或对象数组，支持文本、图片和视频内容。对于 glm-4-voice 模型，支持语音输入和多轮语音对话。",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "消息作者的角色。可选择：system、user、assistant 或 tool。",
                  "example": "user",
                  "default": "user",
                  "enum": ["user", "assistant", "system", "tool"]
                },
                "audio": {
                  "type": "object",
                  "description": "当角色为 assistant 时，可在使用 glm-4-voice 进行多轮对话时提供，指示此消息对应的音频ID",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "上一轮对话中的音频ID，用于多轮对话"
                    }
                  }
                },
                "tool_call_id": {
                  "type": "string",
                  "description": "当角色为 tool 时必须提供，指示此消息对应的工具调用 ID。"
                },
                "tool_calls": {
                  "type": "array",
                  "description": "当角色为assistant时可选，表示模型生成的工具调用消息。当提供此字段时，content通常为空。",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "工具调用ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "工具类型，支持web_search、retrieval、function",
                        "enum": ["function", "web_search", "retrieval"]
                      },
                      "function": {
                        "type": "object",
                        "description": "函数调用信息，当type为function时不为空",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "函数名称"
                          },
                          "arguments": {
                            "type": "string",
                            "description": "函数参数，JSON格式字符串"
                          }
                        },
                        "required": ["name", "arguments"]
                      }
                    },
                    "required": ["id", "type"]
                  }
                },
                "content": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "消息文本内容",
                      "example": "What opportunities and challenges will the Chinese large model industry face in 2025?"
                    },
                    {
                      "type": "array",
                      "description": "多模态消息内容，支持文本、图片、视频和音频",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "内容类型，可以是文本、图片URL、视频URL或音频输入",
                            "enum": [
                              "text",
                              "image_url",
                              "video_url",
                              "input_audio"
                            ]
                          },
                          "text": {
                            "type": "string",
                            "description": "当 type 为 text 时的文本内容"
                          },
                          "image_url": {
                            "type": "object",
                            "description": "当 type 为 image_url 时的图片信息",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "图片的URL地址或Base64编码。图像大小上传限制为每张图像5M以下，且像素不超过6000*6000。支持jpg、png、jpeg格式。注意：GLM-4V-Flash不支持Base64编码。GLM-4V-Plus-0111最多支持同时处理5张图像。"
                              }
                            },
                            "required": ["url"]
                          },
                          "input_audio": {
                            "type": "object",
                            "description": "当 type 为 input_audio 时的音频信息，仅glm-4-voice支持音频输入",
                            "properties": {
                              "data": {
                                "type": "string",
                                "description": "语音文件的base64编码。音频最长不超过 10 分钟。1s音频=12.5 Tokens，向上取整。"
                              },
                              "format": {
                                "type": "string",
                                "description": "语音文件的格式，支持wav和mp3",
                                "enum": ["wav", "mp3"]
                              }
                            },
                            "required": ["data", "format"]
                          },
                          "video_url": {
                            "type": "object",
                            "description": "当 type 为 video_url 时的视频信息。注意：对于 GLM-4V-Plus-0111，video_url 参数必须在 content 数组的第一个位置。",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "视频的URL地址。对于 GLM-4V-Plus，视频大小限制为20M以内，视频时长不超过30s。对于其他多模态模型，视频大小限制为200M以内。视频类型：mp4。"
                              }
                            },
                            "required": ["url"]
                          }
                        },
                        "required": ["type"]
                      }
                    }
                  ]
                }
              },
              "required": ["role", "content"]
            },
            "minItems": 1,
            "maxItems": 10
          },
          "request_id": {
            "type": "string",
            "description": "由用户端传递，需要唯一；用于区分每个请求。如果用户端未提供，平台将默认生成一个。"
          },
          "do_sample": {
            "type": "boolean",
            "example": true,
            "default": true,
            "description": "当 do_sample 为 true 时，启用采样策略；当 do_sample 为 false 时，temperature 和 top_p 等采样策略参数将不生效。默认值为 `true`。"
          },
          "stream": {
            "type": "boolean",
            "example": false,
            "default": false,
            "description": "使用同步调用时，此参数应设置为 false 或省略。表示模型在生成所有内容后一次性返回全部内容。默认值为 false。如果设置为 true，模型将通过标准事件流分块返回生成的内容。当事件流结束时，将返回 `data: [DONE]` 消息。"
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性，必须是范围 `[0.0, 1.0]` 内的正数。对于GLM-4.1v系列默认值为 `0.8`，对于GLM-Z1系列默认值为 `0.75`。值越大，会使输出更随机，更具创造性；值越小，输出会更加稳定或确定。建议根据应用场景调整 top_p 或 temperature 参数，但不要同时调整两个参数。",
            "format": "float",
            "example": 0.8,
            "default": 0.8,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "用温度取样的另一种方法，称为核取样。取值范围为：`[0.0, 1.0]`，对于GLM-4.1v系列默认值为 `0.6`，对于GLM-Z1系列默认值为 `0.9`。模型考虑具有 top_p 概率质量的 tokens 的结果。例如：0.1 意味着模型解码器只考虑从前 10% 的概率的候选集中取 tokens。建议根据应用场景调整 top_p 或 temperature 参数，但不要同时调整两个参数。",
            "format": "float",
            "example": 0.7,
            "default": 0.7,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "max_tokens": {
            "type": "integer",
            "description": "模型输出的最大令牌数，GLM-4.1v系列最大支持16K输出长度，GLM-Z1系列最大支持32K输出长度，建议输入max_tokens不能小于1024。",
            "example": 1024,
            "default": 1024,
            "minimum": 1,
            "maximum": 32768
          },
          "tools": {
            "type": "array",
            "description": "模型可以调用的工具列表。支持函数调用、知识库检索和网络搜索。使用此参数提供模型可以生成 JSON 输入的函数列表或配置其他工具。最多支持 128 个函数。\n",
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FunctionToolSchema"
                }
              },
              {
                "items": {
                  "$ref": "#/components/schemas/RetrievalToolSchema"
                }
              },
              {
                "items": {
                  "$ref": "#/components/schemas/WebSearchToolSchema"
                }
              }
            ]
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": ["auto", "none"],
                "default": "auto",
                "description": "用于控制模型选择调用哪个函数的方式，仅在工具类型为function时补充。默认auto，目前仅支持auto。"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["function"],
                    "description": "指定调用工具的类型"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "要调用的函数名称"
                      }
                    },
                    "required": ["name"]
                  }
                },
                "required": ["type", "function"]
              }
            ],
            "description": "控制模型如何选择工具。auto表示模型可以自行决定是否使用工具；none表示模型不应使用任何工具；也可以指定特定的工具供模型使用。"
          },
          "user_id": {
            "type": "string",
            "description": "终端用户的唯一ID，协助平台对终端用户的违规行为、生成违法及不良信息或其他滥用行为进行干预。ID长度要求：最少6个字符，最多128个字符。",
            "minLength": 6,
            "maxLength": 128
          },
          "stop": {
            "type": "array",
            "description": "模型遇到stop指定的字符时会停止生成。目前仅支持单个stop词，格式为[\"stop_word1\"]。",
            "items": {
              "type": "string"
            },
            "maxItems": 1
          },
          "response_format": {
            "type": "object",
            "description": "指定模型输出格式，默认为text。{ \"type\": \"text\" }：文本输出模式，模型返回普通的文本输出。{ \"type\": \"json_object\" }：JSON输出模式，模型返回有效的JSON输出。",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "default": "text",
                "description": "输出格式类型，可选text或json_object"
              }
            },
            "required": ["type"]
          }
        }
      },
      "FunctionToolSchema": {
        "type": "object",
        "title": "Function Call",
        "properties": {
          "type": {
            "type": "string",
            "default": "function",
            "enum": ["function"]
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        },
        "required": ["type", "function"],
        "additionalProperties": false
      },
      "FunctionObject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "要调用的函数名称。必须是 a-z、A-Z、0-9，或包含下划线和破折号，最大长度为 64。",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "description": {
            "type": "string",
            "description": "函数功能的描述，供模型选择何时以及如何调用函数。"
          },
          "parameters": {
            "$ref": "#/components/schemas/FunctionParameters"
          }
        },
        "required": ["name", "description", "parameters"]
      },
      "FunctionParameters": {
        "type": "object",
        "description": "使用 JSON Schema 定义的参数。必须传递 JSON Schema 对象以准确定义接受的参数。如果调用函数时不需要参数，则省略。",
        "additionalProperties": true
      },
      "RetrievalToolSchema": {
        "type": "object",
        "title": "Retrieval",
        "properties": {
          "type": {
            "type": "string",
            "default": "retrieval",
            "enum": ["retrieval"]
          },
          "retrieval": {
            "$ref": "#/components/schemas/RetrievalObject"
          }
        },
        "required": ["type", "retrieval"],
        "additionalProperties": false
      },
      "RetrievalObject": {
        "type": "object",
        "properties": {
          "knowledge_id": {
            "type": "string",
            "description": "知识库 ID，从平台创建或获取"
          },
          "prompt_template": {
            "type": "string",
            "description": "请求模型的提示模板，包含占位符 `{{ knowledge }}` 和 `{{ question }}` 的自定义请求模板。默认模板：`在文档 `{{ knowledge }}` 中搜索问题 `{{question}}` 的答案。如果找到答案，仅使用文档中的陈述进行回应；如果没有找到答案，使用你自己的知识回答并告知用户信息不来自文档。不要重复问题，直接开始答案。`"
          }
        },
        "required": ["knowledge_id"]
      },
      "WebSearchToolSchema": {
        "type": "object",
        "title": "Web Search",
        "properties": {
          "type": {
            "type": "string",
            "default": "web_search",
            "enum": ["web_search"]
          },
          "web_search": {
            "$ref": "#/components/schemas/WebSearchObject"
          }
        },
        "required": ["type", "web_search"],
        "additionalProperties": false
      },
      "WebSearchObject": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "是否启用搜索功能，默认值为 false，启用时设置为 true"
          },
          "search_engine": {
            "type": "string",
            "description": "搜索引擎类型，默认为 search_std；支持search_std、search_pro、search_pro_sogou、search_pro_quark、search_pro_jina、search_pro_bing。",
            "enum": [
              "search_std",
              "search_pro",
              "search_pro_sogou",
              "search_pro_quark",
              "search_pro_jina",
              "search_pro_bing"
            ]
          },
          "search_query": {
            "type": "string",
            "description": "强制触发搜索"
          },
          "search_intent": {
            "type": "string",
            "description": "是否进行搜索意图识别，默认执行搜索意图识别。true：执行搜索意图识别，有搜索意图后执行搜索；false：跳过搜索意图识别，直接执行搜索"
          },
          "count": {
            "type": "integer",
            "description": "返回结果的条数。可填范围：1-50，最大单次搜索返回50条，默认为10。支持的搜索引擎：search_std、search_pro、search_pro_sogou。对于search_pro_sogou: 可选枚举值，10、20、30、40、50",
            "minimum": 1,
            "maximum": 50
          },
          "search_domain_filter": {
            "type": "string",
            "description": "用于限定搜索结果的范围，仅返回指定白名单域名的内容。白名单：直接输入域名（如 www.example.com）。支持的搜索引擎：search_std、search_pro、search_pro_sogou 、search_pro_Jina"
          },
          "search_recency_filter": {
            "type": "string",
            "description": "搜索指定时间范围内的网页。默认为noLimit。可填值：oneDay（一天内）、oneWeek（一周内）、oneMonth（一个月内）、oneYear（一年内）、noLimit（不限，默认）。支持的搜索引擎：search_std、search_pro、search_pro_sogou、search_pro_quark",
            "enum": ["oneDay", "oneWeek", "oneMonth", "oneYear", "noLimit"]
          },
          "content_size": {
            "type": "string",
            "description": "控制网页摘要的字数。默认值为medium。medium：返回摘要信息，满足大模型的基础推理需求。high：最大化上下文，信息量较大但内容详细，适合需要信息细节的场景。",
            "enum": ["medium", "high"]
          },
          "result_sequence": {
            "type": "string",
            "description": "指定搜索结果返回的顺序是在模型回复结果之前还是之后，可选值：before、after，默认 after",
            "enum": ["before", "after"]
          },
          "search_result": {
            "type": "boolean",
            "description": "是否返回搜索来源的详细信息，默认值 false"
          },
          "require_search": {
            "type": "boolean",
            "description": "是否强制搜索结果才返回回答，默认值 false"
          },
          "search_prompt": {
            "type": "string",
            "description": "用于定制搜索结果处理的Prompt，默认Prompt：\n\n你是一位智能问答专家，具备整合信息的能力，能够进行时间识别、语义理解与矛盾信息清洗处理。\n当前日期是{{current_date}}，请以此时间为唯一基准，参考以下信息，全面、准确地回答用户问题。\n仅提炼有价值的内容用于回答，确保答案具有实时性与权威性，直接陈述答案，无需说明数据来源或内部处理过程。"
          }
        },
        "required": ["search_engine"]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "任务 ID",
            "type": "string"
          },
          "request_id": {
            "description": "请求 ID",
            "type": "string"
          },
          "created": {
            "description": "请求创建时间，Unix 时间戳（秒）",
            "type": "integer"
          },
          "model": {
            "description": "模型名称",
            "type": "string"
          },
          "choices": {
            "type": "array",
            "description": "模型响应列表",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "结果索引"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatCompletionResponseMessage"
                },
                "finish_reason": {
                  "type": "string",
                  "description": "推理终止原因。可以是 'stop'、'tool_calls'、'length'、'sensitive' 或 'network_error'。"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "调用结束时返回的 Token 使用统计。",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "用户输入的 Token 数量。对于 glm-4-voice，1秒音频=12.5 Tokens，向上取整。"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "输出的 Token 数量"
              },
              "total_tokens": {
                "type": "integer",
                "description": "Token 总数，对于 glm-4-voice 模型，1秒音频=12.5 Tokens，向上取整"
              }
            }
          },
          "web_search": {
            "type": "array",
            "description": "返回与网页搜索相关的信息，使用WebSearchToolSchema时返回",
            "items": {
              "type": "object",
              "properties": {
                "icon": {
                  "type": "string",
                  "description": "来源网站的图标"
                },
                "title": {
                  "type": "string",
                  "description": "搜索结果的标题"
                },
                "link": {
                  "type": "string",
                  "description": "搜索结果的网页链接"
                },
                "media": {
                  "type": "string",
                  "description": "搜索结果网页的媒体来源名称"
                },
                "publish_date": {
                  "type": "string",
                  "description": "网站发布时间"
                },
                "content": {
                  "type": "string",
                  "description": "搜索结果网页引用的文本内容"
                },
                "refer": {
                  "type": "string",
                  "description": "角标序号"
                }
              }
            }
          },
          "content_filter": {
            "type": "array",
            "description": "返回内容安全的相关信息",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "安全生效环节，包括 role = assistant 模型推理，role = user 用户输入，role = history 历史上下文"
                },
                "level": {
                  "type": "integer",
                  "description": "严重程度 level 0-3，level 0表示最严重，3表示轻微"
                }
              }
            }
          }
        }
      },
      "ChatCompletionResponseMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "当前对话角色，默认为 'assistant'",
            "example": "assistant"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "当前对话文本内容。如果调用函数则为 null，否则返回推理结果。对于GLM-Z1系列模型，返回内容可能包含 <think> 标签内的思考过程，标签外的内容为最终输出。"
              },
              {
                "type": "array",
                "description": "多模态回复内容，适用于GLM-4V系列模型",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["text"],
                      "description": "回复内容类型，目前为文本"
                    },
                    "text": {
                      "type": "string",
                      "description": "文本内容"
                    }
                  }
                }
              },
              {
                "type": "string",
                "nullable": true,
                "description": "当使用tool_calls时，content可能为null"
              }
            ],
            "description": "当前对话内容。如果调用函数则为 null，否则返回推理结果。对于GLM-Z1系列模型，返回内容可能包含 <think> 标签内的思考过程，标签外的内容为最终输出。对于GLM-4V系列模型，可能返回文本或多模态内容数组。"
          },
          "reasoning_content": {
            "type": "string",
            "description": "思维链内容，仅在使用 glm-4.1v-thinking 系列模型时返回。对于 GLM-Z1 系列模型，思考过程会直接在 content 字段中的 <think> 标签中返回。"
          },
          "audio": {
            "type": "object",
            "description": "当使用 glm-4-voice 模型时返回的音频内容",
            "properties": {
              "id": {
                "type": "string",
                "description": "当前对话的音频内容id，可用于多轮对话输入"
              },
              "data": {
                "type": "string",
                "description": "当前对话的音频内容base64编码"
              },
              "expires_at": {
                "type": "string",
                "description": "当前对话的音频内容过期时间"
              }
            }
          },
          "tool_calls": {
            "type": "array",
            "description": "生成的应该被调用的函数名称和参数。",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionResponseMessageToolCall"
            }
          }
        }
      },
      "ChatCompletionResponseMessageToolCall": {
        "type": "object",
        "properties": {
          "function": {
            "type": "object",
            "description": "包含生成的函数名称和 JSON 格式参数。",
            "properties": {
              "name": {
                "type": "string",
                "description": "生成的函数名称。"
              },
              "arguments": {
                "type": "object",
                "description": "生成的函数调用参数的 JSON 格式。调用函数前请验证参数。"
              }
            },
            "required": ["name", "arguments"]
          },
          "id": {
            "type": "string",
            "description": "命中函数的唯一标识符。"
          },
          "type": {
            "type": "string",
            "description": "调用的工具类型，目前仅支持 'function'。"
          }
        }
      },
      "ChatCompletionChunk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "任务 ID"
          },
          "created": {
            "type": "integer",
            "description": "请求创建时间，Unix 时间戳（秒）"
          },
          "model": {
            "type": "string",
            "description": "模型名称"
          },
          "choices": {
            "type": "array",
            "description": "模型响应列表",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "结果索引"
                },
                "delta": {
                  "type": "object",
                  "description": "模型增量返回的文本信息",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "当前对话的角色，目前默认为 assistant（模型）"
                    },
                    "content": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "当前对话的文本内容"
                        },
                        {
                          "type": "array",
                          "description": "当前对话的多模态内容（适用于GLM-4V系列）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["text"],
                                "description": "内容类型，目前为文本"
                              },
                              "text": {
                                "type": "string",
                                "description": "文本内容"
                              }
                            }
                          }
                        },
                        {
                          "type": "string",
                          "nullable": true,
                          "description": "当使用tool_calls时，content可能为null"
                        }
                      ],
                      "description": "当前对话的内容。对于GLM-4V系列模型，可能以数组形式返回。使用工具调用时可能为null。"
                    },
                    "audio": {
                      "type": "object",
                      "description": "当使用 glm-4-voice 模型时返回的音频内容",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "当前对话的音频内容id，可用于多轮对话输入"
                        },
                        "data": {
                          "type": "string",
                          "description": "当前对话的音频内容base64编码"
                        },
                        "expires_at": {
                          "type": "string",
                          "description": "当前对话的音频内容过期时间"
                        }
                      }
                    },
                    "reasoning_content": {
                      "type": "string",
                      "description": "思维链内容"
                    },
                    "tool_calls": {
                      "type": "array",
                      "description": "生成的应该被调用的工具信息，流式返回时会逐步生成",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "工具调用索引"
                          },
                          "id": {
                            "type": "string",
                            "description": "工具调用的唯一标识符"
                          },
                          "type": {
                            "type": "string",
                            "description": "工具类型，目前支持function",
                            "enum": ["function"]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "函数名称"
                              },
                              "arguments": {
                                "type": "string",
                                "description": "函数参数，JSON格式字符串"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "description": "模型推理终止的原因。'stop'表示自然结束或触发stop词，'tool_calls'表示模型命中函数，'length'表示达到token长度限制，'sensitive'表示内容被安全审核接口拦截（用户应判断并决定是否撤回公开内容），'network_error'表示模型推理异常。",
                  "enum": [
                    "stop",
                    "length",
                    "tool_calls",
                    "sensitive",
                    "network_error"
                  ]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "本次模型调用的 tokens 数量统计",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "用户输入的 tokens 数量。对于 glm-4-voice，1秒音频=12.5 Tokens，向上取整。"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "模型输出的 tokens 数量"
              },
              "total_tokens": {
                "type": "integer",
                "description": "总 tokens 数量，对于 glm-4-voice 模型，1秒音频=12.5 Tokens，向上取整"
              }
            }
          },
          "content_filter": {
            "type": "array",
            "description": "返回内容安全的相关信息",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "安全生效环节，包括：role = assistant 模型推理，role = user 用户输入，role = history 历史上下文"
                },
                "level": {
                  "type": "integer",
                  "description": "严重程度 level 0-3，level 0 表示最严重，3 表示轻微"
                }
              }
            }
          }
        }
      },
      "CogVideoX3Request": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的模型编码。",
                "enum": ["cogvideox-3"]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 Tokens, image_url和prompt二选一或者同时传入。"
              },
              "quality": {
                "type": "string",
                "description": "输出模式，默认为 \"speed\"。 \"quality\"：质量优先，生成质量高。 \"speed\"：速度优先，生成时间更快，质量相对稍低。",
                "example": "speed",
                "enum": ["speed", "quality"]
              },
              "with_audio": {
                "type": "boolean",
                "description": "是否生成 AI 音效。默认值：False （不生成音效）。",
                "example": false
              },
              "image_url": {
                "description": "提供基于其生成内容的图像，如果传入此参数，系统将以该图像为基础进行操作。支持通过URL或Base64编码传入图片。图片要求如下：图片支持.png、.jpeg、.jpg 格式、图片大小：不超过5M, image_url和prompt二选一或者同时传入。",
                "oneOf": [
                  {
                    "title": "Image URL",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/image.png"
                  },
                  {
                    "title": "Base64 Encoded Image",
                    "type": "string",
                    "format": "byte",
                    "example": "data:image/png;base64, XXX"
                  },
                  {
                    "title": "Image URLs Array (First & Last Frame)",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "首尾帧：支持输入两张图，上传的第一张图片视作首帧图，第二张图片视作尾帧图，模型将以此参数中传入的图片来生成视频。首尾帧模式只支持 speed 模式。",
                    "example": [
                      "https://example.com/first_frame.jpg",
                      "https://example.com/last_frame.jpg"
                    ]
                  }
                ]
              },
              "size": {
                "type": "string",
                "description": "默认值：若不指定，默认生成视频的短边为 1080，长边根据原图片比例确认。最高支持 4K 分辨率。",
                "example": "1920x1080",
                "enum": [
                  "1280x720",
                  "720x1280",
                  "1024x1024",
                  "1920x1080",
                  "1080x1920",
                  "2048x1080",
                  "3840x2160"
                ]
              },
              "fps": {
                "type": "integer",
                "description": "视频帧率（FPS），可选值为 30 或 60。默认值：30。",
                "example": 30,
                "enum": [30, 60]
              },
              "duration": {
                "type": "integer",
                "description": "视频持续时长，默认5秒，支持5、10",
                "example": 5,
                "enum": [5, 10]
              }
            },
            "required": ["model"]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "CogVideoXRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": ["cogvideox-2", "cogvideox-flash"]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "quality": {
                "type": "string",
                "description": "输出模式，默认为 `speed`。\n `quality`：优先质量，生成质量更高。\n`speed`：优先速度，生成时间更快，质量相对较低。",
                "example": "speed",
                "enum": ["speed", "quality"]
              },
              "with_audio": {
                "type": "boolean",
                "description": "是否生成 AI 音效。默认：`false`（无音效）。",
                "example": false
              },
              "image_url": {
                "description": "用于内容生成的基础图像。如果提供，系统将基于此图像进行操作。支持 URL 或 Base64 编码图像。图像要求：支持 .png、.jpeg、.jpg 格式；图像大小不超过 5M。必须提供 image_url 或 prompt，或两者都提供。",
                "oneOf": [
                  {
                    "title": "Image URL",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/image.png"
                  },
                  {
                    "title": "Base64 Encoded Image",
                    "type": "string",
                    "format": "byte",
                    "example": "data:image/png;base64, XXX"
                  }
                ]
              },
              "size": {
                "type": "string",
                "description": "默认：如果未指定，生成视频的短边默认为 1080，长边根据原始图像比例缩放。支持最高 4K 分辨率。分辨率选项：`720x480`、`1024x1024`、`1280x960`、`960x1280`、`1920x1080`、`1080x1920`、`2048x1080`、`3840x2160`。",
                "example": "1920x1080",
                "enum": [
                  "720x480",
                  "1024x1024",
                  "1280x960",
                  "960x1280",
                  "1920x1080",
                  "1080x1920",
                  "2048x1080",
                  "3840x2160"
                ]
              },
              "fps": {
                "type": "integer",
                "description": "视频帧率（FPS），可选值为 `30` 或 `60`。默认：`30`。",
                "example": 30,
                "enum": [30, 60]
              }
            },
            "required": ["model"]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduText2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": ["viduq1-text"]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。"
              },
              "style": {
                "type": "string",
                "description": "风格\n默认：`general`\n可选值：`general`、`anime`\n`general`：通用风格，可以使用提示词控制定义风格。\n`anime`：动漫风格，针对动漫特定视觉效果进行优化。可以使用不同的动漫主题提示词控制风格。",
                "enum": ["general", "anime"]
              },
              "duration": {
                "type": "integer",
                "description": "视频时长参数。\n默认：`5`，可选：`5`。",
                "example": 5,
                "enum": [5]
              },
              "aspect_ratio": {
                "type": "string",
                "description": "宽高比\n默认：`16:9`，可选值：`16:9`、`9:16`、`1:1`",
                "example": "16:9",
                "enum": ["16:9", "9:16", "1:1"]
              },
              "size": {
                "type": "string",
                "description": "分辨率参数\n默认：`1920x1080`，可选：`1920x1080`",
                "example": "1920x1080",
                "enum": ["1920x1080"]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": ["auto", "small", "medium", "large"]
              }
            },
            "required": ["model", "prompt"]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduImage2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": ["viduq1-image", "vidu2-image"]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "image_url": {
                "type": "string",
                "description": "系统将使用此参数中提供的图像作为第一帧来生成视频。\n仅支持 `1` 张图像。\n支持的格式：`png`、`jpeg`、`jpg`、`webp`。\n图像宽高比必须小于 `1:4` 或 `4:1`。\n图像文件大小不得超过 `50MB`。\n注意：Base64 解码后，字节长度必须小于 50 MB，编码必须包含适当的内容类型字符串（例如，`data:image/png;base64,{base64_encode}`）。",
                "oneOf": [
                  {
                    "title": "Image URL",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/image.png"
                  },
                  {
                    "title": "Base64 Encoded Image",
                    "type": "string",
                    "format": "byte",
                    "example": "data:image/png;base64, XXX"
                  }
                ]
              },
              "duration": {
                "oneOf": [
                  {
                    "title": "viduq1-image",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`5`，可选：`5`。",
                    "example": 5,
                    "enum": [5]
                  },
                  {
                    "title": "viduq2-image",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`4`，可选：`4`。",
                    "example": 4,
                    "enum": [4]
                  }
                ]
              },
              "size": {
                "oneOf": [
                  {
                    "title": "viduq1-image",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1920x1080`，可选：`1920x1080`",
                    "example": "1920x1080",
                    "enum": ["1920x1080"]
                  },
                  {
                    "title": "viduq2-image",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1280x720`，可选：`1280x720`",
                    "example": "1280x720",
                    "default": "1280x720",
                    "enum": ["1280x720"]
                  }
                ]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": ["auto", "small", "medium", "large"]
              },
              "with_audio": {
                "type": "boolean",
                "description": "为生成的视频添加背景音乐。"
              }
            },
            "required": ["model"]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduFrames2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": ["viduq1-start-end", "vidu2-start-end"]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "image_url": {
                "type": "array",
[...]
